**/node_modules/
**/*.json
**/babel.config.js
**/.exercism
*.md
!/README.md
*_test.rb
*_test.sh
*_test.py
*.test.ts
*.pyc
*.spec.js
.eslintrc
**/.idea/*
**/lastfailed*
.eslintignore
yarn.lock
jest.config.js